#hr-extension-main
    background: rgb(221,69,123)
    background: linear-gradient(243deg, rgba(221,69,123,1) 15%, rgba(26,81,147,1) 86%)
    border-radius: 1rem
    .container
        min-width: 20rem 
        padding: 0.1rem 1rem
        .main-header
            font-size: 1rem
            color: #FFFFFF

