@import "variables.scss";

body {
  background: $hrGradient;
  padding: 10px;
  font-family: $fontMain;
}
#hr-extension-main {
  border-radius: 1rem;
  background: $white;
  padding: 0.1rem 1rem;
  .container--loading {
    display: flex;
    justify-content: space-between;
    min-width: 28rem;
  }
  .main-header {
    font-size: 1.1rem;
    color: $greyDark;
    margin-bottom: 0;
    font-weight: 600;
  }
  .main-header-loading {
    width: 2rem;
    margin-top: 0.35rem;
  }
  .sub-header {
    margin-top: 0.3rem;
    font-weight: 400;
  }

  .container--menu {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: $white;
    box-shadow: $boxShadow;
    cursor: pointer;

    &__icon {
      transform-origin: center;
      transform: scale(0.6);
    }
  }

  .container--settings {
    .checkbox--container {
      display: flex;
      flex-direction: column;
      margin: 4px 0px;
      padding-bottom: 10px;
      border-bottom: 1px solid $greyMedium;
      &:last-child {
        border: 0;
      }
    }
    .checkbox--tooltip {
      font-size: 12px;
      padding-bottom: 2px;
      color: #4c4c4c;
    }
    .checkbox--button {
      position: relative;
      top: 50%;
      width: 74px;
      height: 36px;
      overflow: hidden;
      background: $greyLight;
      border-radius: 2px;
    }
    .checkbox {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 3;
    }
    .knobs {
      z-index: 2;
      font-weight: 400;
    }
    .layer {
      width: 100%;
      background-color: $greyMedium;
      transition: 0.3s ease all;
    }
    #button {
      .knobs {
        &:before {
          position: absolute;
          top: 4px;
          width: 20px;
          height: 10px;
          font-size: 10px;
          font-weight: bold;
          text-align: center;
          line-height: 1;
          padding: 9px 4px;
          border-radius: 2px;
          transition: 0.3s ease all;
          content: "";
          left: 4px;
          background-color: $greyDark;
        }
        &:after {
          position: absolute;
          top: 4px;
          width: 20px;
          height: 10px;
          font-size: 10px;
          font-weight: bold;
          text-align: center;
          line-height: 1;
          padding: 9px 4px;
          border-radius: 2px;
          transition: 0.3s ease all;
          content: "YES";
          right: 4px;
        }
        span {
          position: absolute;
          top: 4px;
          width: 20px;
          height: 10px;
          font-size: 10px;
          font-weight: bold;
          text-align: center;
          line-height: 1;
          padding: 9px 4px;
          border-radius: 2px;
          transition: 0.3s ease all;
          display: inline-block;
          left: 4px;
          color: $white;
          z-index: 1;
        }
      }
      .checkbox {
        &:checked {
          + {
            .knobs {
              span {
                color: $greyDark;
              }
              &:before {
                left: 42px;
                background-color: $pink;
              }
              &:after {
                color: $white;
              }
            }
          }
          ~ {
            .layer {
              background-color: $greyLight;
            }
          }
        }
      }
    }
  }
}
